$accentColor: #4a86cf;
$textColor: #2c3e50;
$borderColor: #eaecef;
$codeBgColor: #282c34;
$arrowBgColor: #ccc;
$navbarHeight: 3.6rem;
$sidebarWidth: 20rem;
$contentWidth: 740px;
$MQNarrow: 959px;
$MQMobile: 719px;
$MQMobileNarrow: 419px;
$lineNumbersWrapperWidth: 3.5rem;